
.footer-menu{
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  z-index: 998;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.footer-menu ul {
    display: inline-block;
    width: 100%;
    padding: 7px 0px 0 0px;
    margin: 0px;
    color: #57bb00;

    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    user-select: none;
}

.footer-menu li {
    float: left;
    width: 20%;
    display: inline-block;
    height: 100%;
    text-align: center;
    font-size: 11px;
    font-family: 'Arial', sans-serif;
    color: #545f7e;
    font-weight: 500;
}
.footer-menu li i {
    font-size: 24px;
}
.footer-menu a {
    color: #545f7e;
    
}
.footer-menu a:focus {
    color: #57bb00;
}        